$token-colors: (
  "gray-darkest": $color-gray-darkest,
  "gray-darker": $color-gray-darker,
  "gray-darken": $color-gray-darken,
  "gray-dark": $color-gray-dark,
  "gray": $color-gray,
  "gray-light": $color-gray-light,
  "gray-lighten": $color-gray-lighten,
  "gray-lighter": $color-gray-lighter,
  "gray-lightest": $color-gray-lightest,
  "black": $color-black,
  "white": $color-white,
  "main": $color-main,
  "danger": $color-danger,
  "success": $color-success,
);

$token-sizes: (
  "xxxxl": $size-xxxxl,
  "xxxl": $size-xxxl,
  "xxl": $size-xxl,
  "xl": $size-xl,
  "l": $size-l,
  "ml": $size-ml,
  "m": $size-m,
  "sm": $size-sm,
  "s": $size-s,
  "xs": $size-xs,
  "xxs": $size-xxs,
  "xxxs": $size-xxxs,
  "xxxxs": $size-xxxxs,
);

$token-line-heights: (
  "xxxl": $line-height-xxxl,
  "xxl": $line-height-xxl,
  "xl": $line-height-xl,
  "l": $line-height-l,
  "ml": $line-height-ml,
  "m": $line-height-m,
  "sm": $line-height-sm,
  "s": $line-height-s,
  "xs": $line-height-xs,
  "xxs": $line-height-xxs,
  "xxxs": $line-height-xxxs,
  "xxxxs": $line-height-xxxxs,
);

$token-tappable-elements: (
  "xxl": $tappable-element-xxl,
  "xl": $tappable-element-xl,
  "l": $tappable-element-l,
  "m": $tappable-element-m,
  "s": $tappable-element-s,
  "xs": $tappable-element-xs,
  "xxs": $tappable-element-xxs,
  "xxxs": $tappable-element-xxxs,
);

$token-spaces: (
  "xxxl": $space-xxxl,
  "xxl": $space-xxl,
  "xl": $space-xl,
  "l": $space-l,
  "m": $space-m,
  "s": $space-s,
  "xs": $space-xs,
  "xxs": $space-xxs,
  "xxxs": $space-xxxs,
  "nano": $space-nano,
);

$token-radiuses: (
  "xl": $radius-xl,
  "l": $radius-l,
  "m": $radius-m,
  "s": $radius-s,
  "xs": $radius-xs,
);

$token-avatars: (
  "xl": $avatar-xl,
  "l": $avatar-l,
  "m": $avatar-m,
  "s": $avatar-s,
  "xs": $avatar-xs,
);

$token-media-titles: (
  "xxxxl": (
    "767px": $size-xl,
  ),
  "xxxl": (
    "767px": $size-xl,
  ),
  //"xxxxl": $size-xxxxl,
  //"xxxl": $size-xxxl,
  //"xxl": $size-xxl,
  //"xl": $size-xl,
  //"l": $size-l,
  //"ml": $size-ml,
  //"m": $size-m,
  //"sm": $size-sm,
  //"s": $size-s,
  //"xs": $size-xs,
  //"xxs": $size-xxs,
  //"xxxs": $size-xxxs,
  //"xxxxs": $size-xxxxs,
);
